input{
  margin-top: 13px;
  width: 250px;
  height: 25px;
}

label{
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
  font-style: oblique;
  font-weight: bold;
  color: white;
}

button{

  background-color: #111;
  color: #fff;
  width: 200px;
  cursor:pointer ;
  margin-left: 43%;
  margin-bottom: 5px;
  height: 30px;
  border: none;
  outline: none;
  position: relative;
  border-radius: 10px;
  z-index: 0;

}
.App{
  border: 2px solid black;
  border-radius: 50px 0px 50px 0px;
  background: linear-gradient(to top,rgb(0, 0, 0),rgba(26, 162, 204, 0.76));
  /* min-height: 50vh; */
}

h1{
  min-height: 30vh;
  color: rgba(73, 4, 56, 0.568);
  font-size: 2cm;
  margin-top: 0ch;
  
}
h2{
  background-color: rgba(108, 247, 108, 0.144);
}
body{
  background: linear-gradient(to top,rgb(94, 11, 36),rgb(240, 240, 240));
}










.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}